/* Global variables */
:root {
	/* Colors */
  --black: hwb(20 5% 93%);
  --black-50: rgba(17, 15, 14, 0.5);
  --white: rgb(235, 231, 224);
  --accent: rgb(15, 223, 230);
  --accent-25: rgba(15, 222, 229, 0.25);
  --medium: rgb(54, 28, 23);
  --medium-70: rgba(54, 28, 23, 0.7);

	/* Text Sizes */
	--text-sm: 0.875rem;
	--text-base: 1rem;
	--text-md: 1.125rem;
	--text-lg: 1.25rem;
	--text-xl: 1.625rem;
	--text-2xl: 2.125rem;
	--text-3xl: 2.625rem;
	--text-4xl: 3.5rem;
	--text-5xl: 4.5rem;

	/* Fonts */
  --ff-accent: 'Noto Sans Mono', monospace;
  --ff-normal: 'Lexend', sans-serif;

	/* Transitions */
	--theme-transition: 0.2s ease-in-out;
}

html,
body {
	height: 100%;
	overflow-x: hidden;
}

body {
	background-color: var(--white);
	color: var(--black);
	font-family: var(--ff-normal);
  font-size:var(--text-base);
	line-height: 1.25;
	width:100%;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
img,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
footer,
header,
menu,
nav,
section,
input,
textarea
{
	font-size: 100%;
	vertical-align: baseline;
	border:none;
}

article,
aside,
footer,
header,
menu,
nav,
section {
	display: block;
}

img {
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.1;
	font-family: var(--ff-normal);
	font-weight: 600;
	color: var(--black);
	margin-block: 1rem;
	padding-top:2rem;
}

h1 {
	font-size: var(--text-4xl);
}

h2 {
	font-size: var(--text-xl);
}

h3 {
	font-size: var(--text-base);
}

h4 {
	font-size: var(--text-base);
}

ol,
ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: 2px solid underline transparent;
	text-underline-offset: 0.35em;
	transition: text-decoration-color var(--theme-transition);
}

a:hover,
a:focus {
	text-decoration-color: var(--accent);
}

/* Markdown Styles */

.content p {
	margin-block: 1rem;
	padding-left: 1rem;
}

.content li {
	list-style:disc;
	list-style-position: ouside;
}

.content ul, .content ol {
	padding-left: 3rem;
}

.content h1, .content h2, .content h3 {
	color: var(--medium);
}

/* Utilities */

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.visually-hidden {
	display: none;
}

