---
// Components Imports
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCta.astro';
import Nav from '../components/Nav.astro';
import PageTitle from '../components/PageTitle.astro';
---

<BaseLayout
  title="Portfolio About | Manon Bernard"
  description="Portfolio - Développeuse Web - Manon Bernard"
>
  <main>
    <div class="page-title">
      <Nav />
      <PageTitle title="A propos" />
    </div>
    <div class="page-content">
      <section>
        <section>
          <h2 class="section-title">Formation</h2>
          <div class="content">
            <h3 class="section-subtitle">Titre professionnel : Développeur Web et Web Mobile</h3>
            <ul>
              <li>Développeur Web et Web Mobile, Fullstack Javascript.</li>
              <li>Parcours de spécialisation: React</li>
            </ul>
          </div>
        </section>
        <section>
          <h2 class="section-title">Expérience</h2>
          <div class="content">
            <h3 class="section-subtitle">Développeur Web Fullstack SIG</h3>
            <h4>Stack technique</h4>
            <ul>
              <li>Angular 17+, Typescript, SCSS</li>
              <li>NestJS, TypeORM</li>
              <li>OpenLayers</li>
              <li>Material Design</li>
              <li>Docker</li>
              <li>Linux</li>
            </ul>
            <h4>Projets</h4>
            <p>Application web de cartographie, logiciel d'informations géographiques (SIG)</p>
            <ul>
              <li>Module "Consultation des données parcellaires (cadastre)"</li>
              <li>Module "Bibliothèque de fichiers"</li>
            </ul>
          </div>
        </section>
      </section>
      <section>
        <h2 class="section-title">Compétences</h2>
        <div class="content">
          <h3>Front-End</h3>
          <ul>
            <li>HTML, CSS, SCSS</li>
            <li>Javascript, TypeScript</li>
            <li>Angular (17+), RxJS</li>
            <li>React, Redux, RTK, react-router</li>
            <li>Material Design, Angular Material, Tailwind CSS</li>
            <li>Astro</li>
          </ul>

          <h3>Back-End</h3>
          <ul>
            <li>Node.js</li>
            <li>NestJS, Express.js</li>
            <li>TypeORM, Sequelize</li>
            <li>PostgreSQL, SQL</li>
            <li>API REST</li>
          </ul>

          <h3>SIG</h3>
          <ul>
            <li>OpenLayers, Leaflet</li>
            <li>PostgreSQL avec PostGIS</li>
            <li>Geoserver</li>
          </ul>

          <h3>Outils de développement</h3>
          <ul>
            <li>Git/Github/GitLab/npm</li>
            <li>VsCode</li>
            <li>Vite</li>
            <li>esLint</li>
            <li>Anglais technique (lu/écrit)</li>
          </ul>
        </div>
      </section>
    </div>
  </main>

  <ContactCTA />

  <style>
    .page-title {
      background-color: var(--black);
    }

    .page-content {
      padding-inline: 2rem;
      padding-block: 0;
      padding-bottom: 2rem;
    }

    .section-title {
      font-size: var(--text-xl);
      color: var(--medium);
      margin-top: 2rem;
      margin-bottom: 0.5rem;
      padding: 0;
    }

    .section-subtitle {
      font-size: var(--text-md);
      color: var(--medium-70);
      margin-block: 1.5rem;
      padding-block: 0;
    }

    ul,
    li {
      font-size: var(--text-md);
    }

    h3,
    h4 {
      padding-block: 0;
      padding-top: 0.25rem;
    }

    .content {
    }

    @media (min-width: 60em) {
      .page-content {
        max-width: 1200px;
        margin: 0 auto;
      }

      section {
        font-size: var(--text-lg);
      }
    }
  </style>
</BaseLayout>
