---
// Components Imports
import ContactCta from '../components/ContactCta.astro';
import Header from '../components/Header.astro';
import ProjectGallery from '../components/ProjectGallery.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Portfolio Home | Manon Bernard"
  description="Portfolio - Développeuse Web - Manon Bernard"
>
  <Header />
  <main>
    <ProjectGallery />
    <ContactCta />
  </main>
</BaseLayout>
