---
// Collection
import { getCollection } from 'astro:content';
const projects = (await getCollection('work')).sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());

// Components imports
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCta.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Grid from '../components/Grid.astro';
import Nav from '../components/Nav.astro';
import PageTitle from '../components/PageTitle.astro';
---

<BaseLayout
  title="Portfolio Projets | Manon Bernard"
  description="Projets de développement Web - Manon Bernard"
>
  <main>
    <div class="page-title">
      <Nav />
      <PageTitle
        title="Mes Projets"
        tagline="Voici quelques uns des mes projets, terminés ou en cours de développement."
      />
    </div>
    <div class="page-content">
      <Grid variant="offset">
        {
          projects.map((project) => (
            <li>
              <PortfolioPreview project={project} />
            </li>
          ))
        }
      </Grid>
    </div>
    <ContactCTA />
  </main>
</BaseLayout>

<style>
  .page-title {
    background-color: var(--black);
  }
  .page-content {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
</style>
