---
import '../styles/global.css';

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title = 'Manon Bernard: Portfolio', description = 'Portfolio de Manon Bernard - Developpeuse Web' } = Astro.props;
---

<meta charset="UTF-8" />

<meta
  name="description"
  property="og:description"
  content={description}
/>

<meta
  name="viewport"
  content="width=device-width"
/>

<meta
  name="generator"
  content={Astro.generator}
/>

<title>{title}</title>

<link
  rel="icon"
  type="image/svg+xml"
  href="/favicon.svg"
/>

<link
  rel="preconnect"
  href="https://fonts.googleapis.com"
/>

<link
  rel="preconnect"
  href="https://fonts.gstatic.com"
  crossorigin
/>

<link
  href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap"
  rel="stylesheet"
/>

<link
  href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap"
  rel="stylesheet"
/>
